extends ./layout.jade
block vars
  - var page = 'map'


block content
      .container-fluid
        .row.fill
          .col-md-7.no-side-padding
            #map.map
          #offers-list.col-md-5.no-side-padding
            ul.list-group.list-opportunity
              each val, index in opps
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading= val.oName
                    a.firstColor= val.intitule
                    p= 'Pour ' + val.nbBenevoles + ' bénévoles'
                  div.media-right.media-middle
                    .i.icon.icon-star.icon-2x.favorite
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target="#myModal") Informations
                    #myModal.modal.fade(tabindex='-1', role='dialog')
                      .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;        
                              #myModalLabel.h4.modal-title= val.oName + ' - ' + val.intitule
                            .modal-body.my-modal-body
                              p= 'Date: '+ val.date
                              p= 'Pour ' + val.nbBenevoles + ' bénévoles'
                              p= 'Latitude: '+ val.lat
                              p= 'Longitude: '+ val.lon
                            .modal-footer
                              button.btn.btn-default(type='button', data-dismiss='modal') Close
                              button.btn.btn-primary.pinkow(type='button')
                                a(href='mailto:'+val.mail+'?subject=Participation%20à%20:%20'+val.intitule) Contactez


block footscript
  script.
    $( document ).ready(function() {
      $('.favorite').hover(function(){
        $(this).addClass('icon-spin');
      }, function(){
        $('.favorite').removeClass('icon-spin');
      });
      $('.favorite').click(function(){
        var orgName = $(this).parents().parents().children('.media-body').children('.media-heading').html();
        var intitule = $(this).parents().parents().children('.media-body').children('a').html();
        $.post('addfavopp', {orgName: orgName, intitule: intitule}).done(function(){
        });
      });
    });
    function initMap(){
      function listStar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).addClass('starring');
        console.log(listElement);
      }
      function listUnstar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).removeClass('starring');
        console.log(listElement);
      }
      function openListInfos(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        listElement.childNodes[3].childNodes[0].click();
        console.log(listElement.childNodes[3].childNodes[0]);
      }
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: {lat: 45.503, lng: -73.613},
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      //Generate markers
      var opports = !{JSON.stringify(opps)};
      var infowindows = [];
      var markers = [];
      function attachInfoWindow(marker, infoWindow, opp, i){
        marker.addListener('click', function(){
          openListInfos(i);
        });
        marker.addListener('mouseover', function(){
          infoWindow.open(map, marker);
          listStar(i);
        });
        marker.addListener('mouseout', function(){
          infoWindow.close();
          listUnstar(i);
        });
      };
      for(i=0; i<opports.length; i++){
        console.log(opports[i].intitule + " marker generated");
        var opp = opports[i];
        infowindows[i] = new google.maps.InfoWindow({
          content: opp.intitule
        });
        markers[i] = new google.maps.Marker({
          position: {lat: opp.lat, lng: opp.lon},
          map: map,
          clickable: true
        });
        attachInfoWindow(markers[i], infowindows[i], opp, i);
      }
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPJIqo9jqMb99E47aKuO64rxugd3S-Wk&callback=initMap"
         async defer)
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery
  script(src='javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='javascripts/bootstrap.min.js')
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });