extends ./layout.jade
block vars
  - var title = 'Home'
  - var opps = #{opps}

block content
      #map-section.container-fluid
        .row
          .col-md-7.no-side-padding
            #map.map
          #offers-list.col-md-5.no-side-padding
            ul.list-group.list-opportunity
              li.list-group-item
                button.btn.btn-default
                  a(href='addopp') Ajouter un mandat
              each val, index in opps
                li.list-group-item 
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading= val.oName
                    a= val.intitule
                    p= 'Pour ' + val.nbBenevoles + ' bénévoles'
                  div.media-right.media-middle
                    button.btn.btn-default(type='button' data-toggle="modal" data-target="#myModal") Informations
                    #myModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog
                            .modal-content
                              .modal-header
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                  span(aria-hidden='true') &times;        
                                #myModalLabel.h4.modal-title= val.oName + ' - ' + val.intitule
                              .modal-body.my-modal-body
                                p= 'Date: '+ val.date
                                p= 'Pour ' + val.nbBenevoles + ' bénévoles'
                                p= 'Latitude: '+ val.lat
                                p= 'Lonitude: '+ val.lon
                              .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type='button') Contactez


block footscript
  script(type='text/javascript').
        var map = new ol.Map({
        target: 'map',  //'map' est l'id du div dans lequel va se trouver la map
        layers: [
        new ol.layer.Tile({
        source: new ol.source.Stamen({layer: 'terrain'})
        })/*,
        new ol.layer.Tile({
            title: 'Global Imagery',
            source: new ol.source.TileWMS({
              url: 'http://demo.opengeo.org/geoserver/wms',
              params: {LAYERS: 'nasa:bluemarble', VERSION: '1.1.1'}
            })
          })*/
        ],
        view: new ol.View({
        center: ol.proj.fromLonLat([-73.62, 45.48 ]),
        zoom: 14
        })
        });
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery
  script(src='javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='javascripts/bootstrap.min.js')
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    })